table{
    margin-top: 3rem;
    width: 100%;
    border:solid;
    border-collapse:collapse;
    text-align: center;
}

th{
    border:solid;
    color:goldenrod;
    background: black;
}

td{
    border:solid;
    background: brown;
}
